.spacer {
  flex: 1 1 auto;
}

.mobile-menu {
  display: none;
}

@media (max-width: 600px) {
  .toolbar-links {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
  }
}

@media (min-width: 601px) {
  .toolbar-links {
    display: inline-flex;
  }
  .mobile-menu {
    display: none;
  }
}

::ng-deep .mat-menu-item:hover {
  background-color: rgb(252, 249, 249) !important;
}

mat-menu .mat-menu-item:hover {
  background-color: rgb(252, 249, 249) !important;
}
