<mat-dialog-content>
    <form [formGroup]="companyForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter company name">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Industry</mat-label>
        <input matInput formControlName="industry" placeholder="Enter industry">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" placeholder="Enter location">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveCompany()" [disabled]="!companyForm.valid">
      Save
    </button>
  </mat-dialog-actions>
  